<%- include('partials/header') %>
<main>
	<h1>
		Vines
	</h1>
	<h2>
		Welcome to your customized plant app! 
	</h2>
	<br><br>
	<img class="index-img" src="https://www.clipartmax.com/png/full/2-20534_transparent-pot-plant-png.png">
</main>
<%- include('partials/footer') %>