* {
	font-family: 'Inter', sans-serif;
	font-family: 'Merienda', cursive;
}

a {
	color: yellow !important;
}

body > nav {
	grid-area: nav;
	background-color: #7dce94;
	display: flex;
	justify-content: flex-end;
	align-items: center;
}

body > main {
	background-color: #ebf7e7;
	display: flex;
	flex-direction: column;
	align-items: center;
	padding: 20px;
}

nav > a {
	margin: 10px;
	text-decoration: none;
	padding: 10px;
	border-radius: 5px;
  }

.login {
	display: flex;
	justify-content: center;
	align-items: center;
	height: 34px;
}

.login img {
	height: 30px;
}

main {
	height: 100vh;
}

#new-form {
	background-color: #aedd97;
	align-items: center;
	text-align: center;
	display: flex;
	flex-direction: column;
	font-size: 20px;
	padding: 10px;
	border-radius: 5px;
	width: 600px
}

input {
	border-radius: 5px;
	border: 1px;
	height: 30px;
	text-align: center;
	color: #495057;
	font-size: 1rem !important;
	/* background-color: #7dce94; */
}

option {
	text-align: center;
	background-color: #7dce94;
	border-radius: 5px;
}

.plant-index {
	background-color: #aedd97;
	border:#519430;
	border-radius: 30%;
	height: 250px;
	width: 250px;
	text-align: center;
	padding-top: 50px;
	margin: 20px
}

.plant-index:hover {
	opacity: 50%;
}

h1 {
	padding-bottom: 30px;
	color: #3a6a22;
}

button:hover {
	opacity: 50%;
}

.comments {
	text-align: right;
}

table {
    margin-left: auto;
}

.add-comment {
	padding-top: 50px;
}

.headline {
	font-size: 20px;
	color:#519430;
}

.plant-name {
	font-size: 20px;
	color: #3a6a22;
}

.new-plant-name {
	width: 500px !important;
}

.img {
	border-radius: 30%;
}

.index-img {
	height:50%;
}

.nav-logo {
	text-align: left;
	margin-right: auto;
	font-size: 30px;
}

.image {
	margin-left: 90px;
}