<%- include('../partials/header') %>

<h1>Add a new plant</h1>
<form id="new-form" action="/plants/index" method="post">
	<!-- <label>Photo
		<br>
		<input type="file" name="user[image]" id="user-img">
	</label> -->
	<br><br>
	<label>Plant name
		<br>
		<input type="text" name="name">
	</label>
	<br><br>
	<label>Water
		<br>
		<select name="water">
			<option value="When soil has dried out completely">When soil has dried out completely</option>
			<option value="When soil has dried out three-fourths to the bottom">When soil has dried out three-fourths to the bottom</option>
			<option value="When soil has dried out halfway to the bottom">When soil has dried out halfway to the bottom</option>
			<option value="When top 1-2" of soil is dry">When top 1-2" of soil is dry</option>
		</select>
	</label>
	<br><br>
	<label>Light
		<br>
		<select name="light">
			<option value="Bright direct light">Bright direct light</option>
			<option value="Bright indirect light">Bright indirect light</option>
			<option value="Medium direct light">Medium direct light</option>
			<option value="Medium indirect light">Medium indirect light</option>
		</select>
	</label>
	<br><br>
	<label>Date bought
		<br>
		<input type="date" name="bought">
	</label>
	<br><br>
	<label>Date of last repot
		<br>
		<input type="date" name="repot">
	</label>
	<br><br>
	<input id="new-plant" type="submit" value="Add your new plant!">
</form>

<%- include('../partials/footer') %>